.Chip {
    background-color: var(--primary-white);
    border: solid 2px var(--secondary-platinum);
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 50px;
}

.Chip__image-container {
    width: 40px;
}

.Chip__text {
    color: black;
}

.Chip__img {
    width: 100%;
}