.Chips {
    width: 100%;
    background: none;
    color: black;
}

.Chips__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 0px;
    background-color: var(--secondary-fantasy);
}

.Chips__item {
    display: block;
    font-size: 16px;
}