.Dates {
    width: 100%;
    background: none;
    color: black;
}

.Dates__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 100px;
}

.Dates__item {
    display: block;
}