.Modal {
    position: fixed;
    z-index: 99;
    top: 240px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 9%, 56%, 0.381);
    justify-content: center;
    display: flex;
}

.Modal-container {
    width: 90%;
    min-height: 250px;
    max-height: 350px;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.203);
    overflow-y: scroll;
}