.NavBar {
    position: absolute;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    height: 10vh;
    background-color: var(--secondary-platinum);
    color: var(--primary-white);
    display: flex;
    align-items: center;
}

.NavBar__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
}

.NavBar__item {
    width: 50px;
    height: 50px;
    list-style: none;
}

.NavBar__btn {
    border: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: transparent;
}

.NavBar__btn--cart {
    background-image: url(../assets/icons/shopping-cart_grey.svg);
}

.NavBar__btn--cart-selected {
    background-image: url(../assets/icons/shopping-cart_orange.svg);
}

.NavBar__btn--home {
    background-image: url(../assets/icons/home_grey.svg);
}

.NavBar__btn--home-selected {
    background-image: url(../assets/icons/home_orange.svg);
}

.NavBar__btn--profile {
    background-image: url(../assets/icons/user_grey.svg);
}

.NavBar__btn--profile-selected {
    background-image: url(../assets/icons/user_orange.svg);
}