.page {
    height: 90vh;
    width: 100vw;
    overflow: scroll;
    background-color: #FEF2F1;
}

.head-section {
    border: solid 2px black;
    position: relative;
    right: 0;
    left: 0;
    z-index: 9999;
}

.body-section {
    position: relative;
    border: solid 2px red;
    height: 70vh;
    overflow-y: scroll;
}