.page {
    height: 90vh;
    width: 100vw;
    overflow: scroll;
    background-color: var(--secondary-fantasy);
}

.head-section {
    position: relative;
    right: 0;
    left: 0;
    z-index: 9999;
}

.body-section {
    position: relative;
    height: 70vh;
    overflow-y: scroll;
}