@font-face {
    font-family: Gotham;
    src: url(./assets/fonts/Gotham.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Gotham;
    font-size: 16px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-light-orange: #FCAB3F;
    --primary-saffron-mango: #FDC963;
    --primary-liver: #4D4D4D;
    --primary-white: #FFFFFF;
    --secondary-aqua-island: #A1D2CE;
    --secondary-sea-pink: #F49897;
    --secondary-platinum: #E4E4E4;
    --secondary-fantasy: #FEF2F1;
}